


<p id="notice"><%= notice %> </p>
 
<p >
  <strong>Name:</strong>
  <%= @item.name %>
</p>  

<%= link_to 'Back', items_path, :class => "button"%>
<br>
<% if can? :destroy, @item %>  
  <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %> 
<% end %> 

<% if can? :destroy, @item %>   
  <div class="actions">
    <%= link_to 'Add Image', add_image_path(@item),  :class => "button" %>
  </div>
<% end %>

<%= link_to 'Add to Cart', push_item_path(user_id: current_user.id, item_id: @item.id), :class => "button" %> 

 
<div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @item, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Stars: <%= rating_for @item, "stars" %>
    <% end %>
  </div>



 <!-- The Bootstrap Image Gallery lightbox -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body next"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left prev">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Previous
            </button>
            <button type="button" class="btn btn-primary next">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>


<div id="links container" class="image_div">
<% if @item.images.count == 0 %>
    <%= image_tag('/images/missing_small.jpg') %> 
<% else %>
    <% @item.images.each do |image| %>   
      <%= link_to image_tag(image.img.url(:small)) , image.img.url(:large),  'data-gallery' => '' %>
    <% end %>
  </div>
<%end%>

<!-- права на просмотр другого юзера -->
<!-- activeadmin авторизация для админки-->



<!-- ДОДЕЛАТЬ КНОПКУ DESTROY В ПРОФИЛЕ ЮЗЕРА -->
<!-- доделать просмотр итемов без авторизации --> 
<!-- Bouer -->
<!-- active support - набор полезных функций -->


